<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="vue.js"></script>
  </head>

  <body>
    <div id="app">
      <li v-for="v in comments">
        {{ v.content }}
      </li>
      <textarea v-model="current_content" cols="30" rows="10"></textarea><br />
      <button @click="push('pre')">插前面</button>
      <button @click="push('end')">插后面</button>
      <br />
      <button @click="del('first')">删前面</button>
      <button @click="del('last')">删后面</button>
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          current_content: "",
          comments: [{ content: "说的好！" }, { content: "顶" }]
        },
        methods: {
          push(ty) {
            var content = { content: this.current_content };
            switch (ty) {
              case "end":
                this.comments.push(content);
                break;
              case "pre":
                this.comments.unshift(content);
                break;
            }

            this.current_content = "";
          },
          del(ty) {
            switch (ty) {
              case "first":
                this.comments.shift();
                console.log("1");
                break;
              case "last":
                this.comments.pop();
                break;
            }
          }
        }
      });
    </script>
  </body>
</html>
