<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>表达式的使用</title>
    <script src="vue.js"></script>
  </head>
  <body>
    <style>
      .xl1 {
        color: red;
      }
      .xl2 {
        color: yellow;
      }
    </style>
    <div id="app">
      <h1>{{ n }}</h1>
      <h1 :class="'xl'+n">你好智慧生活</h1>
      <input type="text" v-model="n" />
      <br />
      <input type="radio" v-model="n" value="1" />红
      <input type="radio" v-model="n" value="2" />黄
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          n: 1
        }
      });
    </script>
  </body>
</html>
