<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="vue.js"></script>
    <script src="vuex.js"></script>
  </head>

  <body>
    <div id="app">
      <wode></wode>
      <cart></cart>
    </div>

    <script type="text/x-template" id="list">
      <div>
        <h1 v-if="goods.length == 0"> 购物车空空如也</h1>
        <div v-if="goods.length >0">
        <h1>购物车</h1>
        <table border="1" width="60%">
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>价格</th>
            <th>数量</th>
            <th>总计</th>
            <th>操作</th>
          </tr>
          <tr v-for="v in goods">
              <td>{{v.id}}</td>
              <td>{{v.title}}</td>
              <td>{{v.price}}</td>
              <td>
                <input v-model="v.num" type="text" />
              </td>
              <td>{{v.total}}</td>
              <td>
                <button @click="del(v.id)">删除</button>
              </td>
          </tr>
          </table>
        </div>
        <!-- <h2>写总价：{{price}}</h2>
        <h2>总价：{{priceT}}</h2> -->
      </div>
    </script>

    <script type="text/x-template" id="cart">
      <div   class="cart">
        <div v-if="priceT > 0">
              <h2>总价：{{ priceT }}</h2>
            </div>
            </div>
    </script>
    <style>
      .cart {
        color: red;
        background-color: aqua;
      }
    </style>

    <script>
      let wode = {
        template: "#list",
        //3拿数据
        computed: {
          //拿state里的数据
          price() {
            return this.$store.state.price;
          },
          //拿getters里的数据
          priceT() {
            return this.$store.getters.price;
          },
          goods() {
            return this.$store.getters.goods;
          }
        },
        //.commit调用mutation中的方法处理组件中的数据
        methods: {
          del(i) {
            return this.$store.commit("del", {
              a: i //或者  i  （还是es6写法）
            });
          }
        }
      };
      let Cart = {
        template: "#cart",
        //3拿数据
        computed: {
          //拿getters里的数据
          priceT() {
            return this.$store.getters.price;
          }
        }
      };
      //1创建仓库
      let store = new Vuex.Store({
        state: {
          price: 100,
          goods: [
            { id: 1, title: "黑美人", price: 3, num: 2 },
            { id: 2, title: "麒麟", price: 2, num: 5 }
          ]
        },
        getters: {
          //获取商品总价
          price: www => {
            let a = 0;
            www.goods.forEach(v => {
              a += v.num * v.price;
            });
            return a;
          },
          //获取商品并计算每件商品的总价
          goods(a) {
            let goods = a.goods;
            goods.forEach(v => {
              v.total = v.num * v.price;
            });
            return goods;
          }
        },
        //修改仓库中的数据
        mutations: {
          del(state, param) {
            let k;
            for (let i = 0; i < state.goods.length; i++) {
              if (state.goods[i].id == param.id) {
                k = i;
                break;
              }
            }
            state.goods.splice(k, 1);
          }
        }
      });
      var vm = new Vue({
        el: "#app",
        data: {},
        //声明组件
        components: {
          wode,
          Cart
        },
        //2声明仓库
        store,
        methods: {}
      });
    </script>
  </body>
</html>
