<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="vue.js"></script>
    <script src="vuex.js"></script>
    <script src="axios.min.js"></script>
  </head>

  <body>
    <div id="app">
      <wode></wode>
      <cart></cart>
    </div>

    <script type="text/x-template" id="list">
      <div>
        <h1 v-if="goods.length == 0"> 购物车空空如也</h1>
        <div v-if="goods.length >0">
        <h1>购物车</h1>
        <table border="1" width="60%">
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>价格</th>
            <th>数量</th>
            <th>总计</th>
            <th>操作</th>
          </tr>
          <tr v-for="v in goods">
              <td>{{v.id}}</td>
              <td>{{v.title}}</td>
              <td>{{v.price}}</td>
              <td>
                <input v-model="v.num" type="text"/>
              </td>
              <td>{{v.total}}</td>
              <td>
                <button @click="del(v.id)">删除</button>
              </td>
          </tr>
          </table>
        </div>

      </div>
    </script>

    <script type="text/x-template" id="cart">
      <div   class="cart">
        <div v-if="priceT > 0">
              <h2>总价：{{ priceT }}</h2>
            </div>
            </div>
    </script>
    <style>
      .cart {
        color: red;
        background-color: aqua;
      }
    </style>

    <script>
      let wode = {
        template: "#list",

        computed: {
          price() {
            return this.$store.state.price;
          },

          priceT() {
            return this.$store.getters.price;
          },
          goods() {
            return this.$store.getters.goods;
          }
        },

        methods: {
          del(i) {
            return this.$store.commit("del", {
              a: i
            });
          }
        }
      };
      let Cart = {
        template: "#cart",

        computed: {
          priceT() {
            return this.$store.getters.price;
          }
        }
      };

      let store = new Vuex.Store({
        state: {
          price: 100,
          goods: []
        },
        getters: {
          price: www => {
            let a = 0;
            www.goods.forEach(v => {
              a += v.num * v.price;
            });
            return a;
          },

          goods(a) {
            let goods = a.goods;
            goods.forEach(v => {
              v.total = v.num * v.price;
            });
            return goods;
          }
        },

        mutations: {
          del(state, param) {
            let k;
            for (let i = 0; i < state.goods.length; i++) {
              if (state.goods[i].id == param.id) {
                k = i;
                break;
              }
            }
            state.goods.splice(k, 1);
          },
          //1 改变仓库中的数据的方法
          setData(state, param) {
            state.goods = param.goods;
          }
        },
        //2 actions 借用axios发异步请求数据
        actions: {
          loadGoods(store) {
            axios.get("73.php").then(a => {
              //3 调用mutations里的方法改变仓库中的数据
              store.commit("setData", { goods: a.data });
              console.log(a);
            });
          }
        }
      });
      var vm = new Vue({
        el: "#app",
        data: {},

        components: {
          wode,
          Cart
        },
        //4 直接在根组件用.dispatch触发actions里的方法，
        mounted() {
          this.$store.dispatch("loadGoods");
        },
        store,

        methods: {}
      });
    </script>
  </body>
</html>
